
<div class="container">
    
    <h2 *ngIf="hotels && hotels.length > 0">{{ title }}</h2>
    <button class="btn btn-primary d-flex" (click)="toggleIsNewBadge()">
      <span class="material-icons">
        {{ showBadge ? 'visibility_off' : 'visibility' }}
      </span>
      <span class="ml-2">
        {{ showBadge ? 'cacher' : 'afficher' }} nouveau
      </span>
    
    </button> <hr>
    <div class="my-2" >
      <div class="row">
        <div class="col-md-4">
          <span>Filtre Actuel: </span>
          <b>{{ hotelFilter }}</b>

        </div>
        <div class="col-md-8 form-group">
          <input type="text" class="form-control" [ngModel]="hotelFilter" (ngModelChange)="hotelFilter = $event" >

          

        </div>


      </div>

    </div>
    <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let hotel of hotels">
    <div class="card" style="width: 18rem;">
        <img [src]=" hotel.imageUrl" 
             [title]="hotel.hotelName | uppercase" class="card-img-top" 
             [alt]="hotel.hotelName">
        <div class="card-body">
          <h5 class="card-title">{{ hotel.hotelName }}</h5>
          <p class="card-text">{{ hotel.description }}</p>
          <p class="card-text">
            {{ hotel.price | currency  }}
          </p>
          <span class="btn btn-danger" *ngIf="showBadge">Nouveau</span>
        </div>
    </div>
  </div>
</div>
</div>